<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
</head>
<body>
    <h1> <%= kindOfDay %> </h1>

    <ul>
        <li> Buy Food </li>
        <li> Cook Food </li>
        <li> Eat Food </li>        
    </ul>

    <form method='POST' action='/'>
        <input type='text' name='newItem'>
        <button type='submit' name='button'>Add</button>
    </form>
</body>
</html>